/* .main-section{
	margin-left: 15rem;
} */

/* ESTILO DE LA SIDEBAR */
/* Sidebar fina 'fixed' a la izquierda */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10rem;
	padding: 1rem 1rem;
	z-index: 1050;
	transition: width 0.1s ease-in-out;
	background-color: #1C2C50
}

