{% extends "base.html" %}

{% block content %}
<div>
    <nav class="sidebar">
        <ul>
            <li>
                <a href="{% url 'inventory' %}">
                    <i class="fas fa-box"></i> Inventory
                </a>
            </li>
            <li>
                <i class="fas fa-bars"></i> Menu
            </li>
            <li>
                <i class="fas fa-shopping-cart"></i> Purchases
            </li>
        </ul>
    </nav>

    <h2>BIENVENIDO AL INVENTORY</h2>
</div>

{% endblock %}
