<!-- base.html en la carpeta templates/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Djitney Login</title>
    {% load static %} 
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/css/logo.ico' %}"
</head>
<body>
    <header>
        <!-- Puedes incluir aquí elementos de navegación comunes -->
    </header>

    <main>
        <section>
            {% block content %}{% endblock %}
        </section>
    </main>

    <footer>
        <!-- Puedes incluir aquí elementos de pie de página comunes -->
    </footer>
</body>
</html>



