{% extends "base_main.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="main-section">
    <div class="create-section">
        <h2 style="margin-bottom: 0;margin-top: 10px;">Add a new ingredient</h2>
        <hr style="width: 100%;">
        <form method="post" class="create-form" action="{% url 'inventory' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="save-ingredient" type="submit"><i class="fa-solid fa-warehouse"></i> Guardar Ingrediente</button>
        </form>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="table-section">
        {% render_table table %}
    </div>
</div>

{% endblock %}
