*{
    font-family: 'Asap', sans-serif;;
}

body {
    background-color: rgba(69, 105, 144, 0.15);
    padding: 0;
    margin: 0;
}

.header-greet{
    color: black;
    margin-left: 13rem; /* Ajusta el margen izquierdo según sea necesario */
    text-align: right; /* Alinea el texto a la derecha */
    margin-right: 15px;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%; /* Ajusta el ancho al 100% para que ocupe toda la pantalla */
    background-color: white;
    z-index: 1000; /* Ajusta el índice z según sea necesario */
}

.main-section{
    margin-top: 45px; 
	margin-left: 11rem;
    margin-right: 10px;
    display: flex; /* Añadido para aplicar flexbox */
    justify-content: space-between; /* Alinea los divs a los extremos */
}

.main-section div{
    flex: 1; /* Añadido para que ambos divs ocupen el espacio disponible */
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.create-section {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-section {
    flex-grow: 2; /* Hace que este div ocupe más espacio que create-section */
    margin-left: 5px;
}

@media (max-width: 1116px) {
    .main-section {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }

    .main-section div {
        flex: none; /* Quita la propiedad flex: 1; en pantallas medianas y pequeñas */
    }

    .create-section{
        max-width: none;
    }
}

.update-view, .delete-view{
    margin-top: 45px; 
	margin-left: 11rem;
    margin-right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
/* ESTILO DE LA SIDEBAR */
/* Sidebar fina 'fixed' a la izquierda */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10rem;
	padding: 1rem 1rem;
	z-index: 1050;
	transition: width 0.1s ease-in-out;
	background-color: rgba(244, 91, 105, 1);
}

/* Estilo para los enlaces dentro de la barra lateral */
.sidebar a {
    color: black;
    padding: 10px; /* Espaciado interno de la barra lateral */
    display: flex; /* Utiliza el modelo de caja flexible */
    text-decoration: none; /* Quita el subrayado del texto del enlace */
    background-color: rgba(255, 255, 255, 0.6); /* Color del texto en blanco */
    margin-bottom: 10px; /* Espaciado entre los enlaces */
    align-items: center; /* Centra verticalmente el contenido del enlace */
    border-radius: 8px; /* Bordes redondeados para cada enlace */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilo para el texto dentro de los enlaces */
.sidebar a span {
    display: inline-block;
    margin-left: 10px; /* Ajusta el espacio entre el icono y el texto */
}

/* Estilo para el enlace cuando es pulsado */
.sidebar a:active{
    background-color: rgba(69, 105, 144, 0.15);
}

/* Estilo para el botón de cierre de sesión */
.sidebar .logout-button {
    background-color: #87CEFA; /* Color de fondo para resaltar el botón de cierre de sesión */
    color: rgba(255, 255, 255, 0.6); /* Color del texto en blanco */
    padding: 10px; /* Ajustar el espaciado interno según sea necesario */
    text-align: center; /* Centrar el texto horizontalmente */
    position: absolute; /* Cambiar a posición absoluta para ajustar al fondo de la barra lateral */
    bottom: 0;
    width: 80%;
}

/* Estilo para el encabezado de la tabla */
.table thead {
    font-size: 18px;
    background-color: rgba(244, 91, 105, 1);
    color: white;
    line-height: 1.4; /* Cambia este color según tus preferencias */
    text-decoration: none;
}

/* Estilo para el fondo de las filas en el cuerpo de la tabla */
.table tbody {
    background-color: #ecf0f1; /* Cambia este color según tus preferencias */
}


.delete-button{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    background: red;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    justify-content: center;
    align-items: baseline;
}

.delete-button span{
    margin-left: 5px;
}

.edit-button{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: flex;
    background: green;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    justify-content: center;
    align-items: baseline;
}

.edit-button span{
    margin-left: 5px;
}

/* Create form style*/

.create-form {
    max-width: 400px;
    margin: 0 auto;
}

.create-form label {
    display: block;
    margin-bottom: 8px;
}

.create-form input, .create-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}


.save-ingredient{
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

/* Estilo para la barra lateral en pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    .main-section, .update-view, .delete-view{
        margin-left: 6rem;
        margin-right: 10px;
    }

    .sidebar {
		width: 5rem;
    }

	.sidebar a span {
        display: none; /* Oculta el texto en pantallas pequeñas */
    }

    .sidebar a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px; /* Ajusta el espaciado entre los enlaces */
    }

    .sidebar .logout-button {
        background-color: #87CEFA; /* Color de fondo para resaltar el botón de cierre de sesión */
        color: rgba(255, 255, 255, 0.6); /* Color del texto en blanco */
        padding: 10px; /* Ajustar el espaciado interno según sea necesario */
        text-align: center; /* Centrar el texto horizontalmente */
        position: absolute; /* Cambiar a posición absoluta para ajustar al fondo de la barra lateral */
        bottom: 0;
        width: 60%;
    }
}